[submodule "modules/layers/attention"]
	path = modules/layers/attention
	url = https://github.com/amar-jay/attention
	branch = main
[submodule "modules/quantization/bitnet"]
	path = modules/quantization/bitnet
	url = https://github.com/amar-jay/bitnet
	branch = main
[submodule "modules/tokenization/byte_pair_encoding"]
	path = modules/tokenization/byte_pair_encoding
	url = https://github.com/amar-jay/trBPE
[submodule "models/vae"]
	path = models/vae
	url = https://github.com/amar-jay/first-vae
	branch = main
[submodule "models/Wan2.2"]
	path = models/Wan2.2
	url = https://github.com/Wan-Video/Wan2.2
[submodule "models/flux2"]
	path = models/flux2
	url = https://github.com/black-forest-labs/flux2
