[submodule "optimizers"]
	path = optimizers
	url = https://github.com/amar-jay/optimizers
[submodule "quantization/bitnet"]
	path = quantization/bitnet
	url = https://github.com/amar-jay/bitnet
[submodule "models/vae"]
	path = models/vae
	url = https://github.com/amar-jay/first-vae
